<!--
<html ng-app='widget_test'>
  <head>
    <link rel='stylesheet' href='widget-test.css?v=1' />
    <script 
      src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js'>
    </script>
    <script src='widget-test.js'></script>
  </head>

  <body>
-->

<style type='text/css'>
  .textedit { margin-bottom: 10px; }
  label { display: inline; }
  input.ng-invalid, select.ng-invalid {
    background-color: #FA787E;
  }
  form .small { width: 100px; }
  .actionli {
    white-space: nowrap;
    overflow: hidden;
  }
  .actionul {
    width:252px;
  }
  .actionfield {
    width:236px;
    padding:0
  }
  .actionrow {
    border: solid 1px;
    padding-left: 2px;
    background: rgba(255,255,255,.2);
  }
  .selection {
    width: 245px;
    overflow: scroll;
  }
  .editchange {
    background-color: #78FA89 !important;
  }
</style>

<div ng-include='view_template'></div>

<script type='text/ng-template' id='document-new.html'>
  <div>
    <h2>creating new document...</h2>
  </div>
</script>

<script type='text/ng-template' id='document.html'>
  <div ng-controller='DocumentPage'>
    <label for='preview-text'>text:</label>
    <input id='preview-text' type='radio' value='text'
      ng-model='document.tab'/>
    <label for='preview-rumor'>rumors:</label>
    <input id='preview-rumor' type='radio' value='rumors'
      ng-model='document.tab'/>
    <label for='preview-associations'>associations:</label>
    <input id='preview-associations' type='radio' value='associations'
      ng-model='document.tab'/>
    <hr/>
    <div ng-include='"document-"+document.tab+".html"'></div>
  </div>
</script>

<script type='text/ng-template' id='document-rumors.html'>
  <h2>Rumors from extracted observables</h2>
  <button type='button' class='btn'
  ng-click='apply()' ng-disabled='!selected.count'>
    apply
  </button>
  <button type='button' class='btn'
  ng-click='clear()' ng-disabled='!selected.count'>
    clear
  </button>
  <vz-table keyed-rows='document.extracted_observables' 
  default='document.default_edit'
  selected='selected'></vz-table>
  <h2>Rumors from extracted tables</h2>
  <vz-table rows='document.rumors' default='document.default_edit'></vz-table>
</script>

<script type='text/ng-template' id='document-associations.html'>
  <vz-table rows='document.associations' columns='columns.associations'></vz-table>
</script>

<script type='text/ng-template' id='document-text.html'>
  <div class='textedit' ng-controller='DocumentText'>
    <!--ng-mousedown='select_token($event)'-->
    <textarea id='cm' ui-codemirror="{
      lineWrapping: true,
      theme: 'ambiance',
      autofocus: true,
      onBeforeSelectionChange: select_tokens,
      onBlur: blur
      }" ng-model='document.doc.text' ui-refresh='refresh'>
    </textarea>
  </div>
</script>

<script type='text/ng-template' id='document-aside.html'>
  <form name='document_form' ng-controller='DocumentAside'>
    <accordion close-others='false'>
      <accordion-group><accordion-heading>
    	<button type='button' class='btn pull-right'
        ng-click='upload_document()' ng-disabled='!document_form.$valid'>
          <span class="icon-upload"></span>upload
        </button>
      </accordion-heading></accordion-group>
      <accordion-group is-open="true">
        <accordion-heading>
          <h4>Document</h4>
	</accordion-heading>
        <fieldset ng-include src='"document-input-req.html"'></fieldset>
      </accordion-group>
      <div ng-show='document.tab=="rumors"'>
        <accordion-group is-open="false">
          <accordion-heading ng-show='$scope.document.tab=="rumors"'>
  	  <h4 class='pull-left'>Rumor</h4><h5 class='pull-right'>
              ({{sidebar.selected.count ? "selected" : "default"}})
            </h5>
  	  <br style="clear:both; line-height:0">
  	</accordion-heading>
          <fieldset ng-include src='"rumor-input.html"'></fieldset>
        </accordion-group>
        <accordion-group is-open="false">
          <accordion-heading ng-show='$scope.document.tab=="rumors"'>
  	  <h4 class='pull-left'>TTP</h4><h5 class='pull-right'>
              ({{sidebar.selected.count ? "selected" : "default"}})
            </h5>
  	  <br style="clear:both; line-height:0">
  	</accordion-heading>
          <fieldset ng-include src='"ttp-input.html"'></fieldset>
        </accordion-group>
        <accordion-group is-open="false">
          <accordion-heading ng-show='$scope.document.tab=="rumors"'>
  	  <h4 class='pull-left'>Actor</h4><h5 class='pull-right'>
              ({{sidebar.selected.count ? "selected" : "default"}})
            </h5>
  	  <br style="clear:both; line-height:0">
  	</accordion-heading>
          <fieldset ng-include src='"actor-input.html"'></fieldset>
        </accordion-group>
        <accordion-group is-open="false">
          <accordion-heading ng-show='$scope.document.tab=="rumors"'>
  	  <h4 class='pull-left'>Campaign</h4><h5 class='pull-right'>
              ({{sidebar.selected.count ? "selected" : "default"}})
            </h5>
  	  <br style="clear:both; line-height:0">
  	</accordion-heading>
          <fieldset ng-include src='"campaign-input.html"'></fieldset>
        </accordion-group>
      </div>
    </accordion>
  </form>
</script>

<!--
  </body>
</html>
-->
