.cm-intsv { background: #006666; }
.cm-indicator { color: #ffb795; }
.cm-pair { color: #aac6e3; }

form fieldset {
  border-style:double;
  border-width:3px;
  border-color:black;
  background-color: rgba(0,0,0,.2);
  padding: 0 20px 20px 20px;
  position: relative;
}

form fieldset .inner {
  border-style: none;
  padding: 8px 8px 8px 8px;
  margin: 8px 0 8px 0;
}

form input, select {
  width: 150px;
  margin: 0;
  box-sizing: border-box; /* consistent input sizing */
  line-height:normal;
  height:20px;
  border: 1px solid;
}

.time {
  width:75px;
  margin-bottom:10px;
}

form input[type='checkbox'], input[type='radio'] {
  width: 20px;
}

form label {
  display:inline;
}

form th {
  text-align: right;
  font-weight: normal;
  white-space: nowrap;
}

form legend {
  background-color: #ACACAC;
  border-radius: 2px;
  padding: 2px 8px 2px 8px;
  border-width:1px;
  border-style:solid;
  font-size:small;
  width:inherit;
  margin-bottom: inherit;
  line-height: inherit;
  border-bottom: 1px solid black;
}

form hr {
  border-width: 0px;
}
