body {
  background-image: url(old_mathematics-mod.png);
  background-color: darkgrey;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: url("/static/img/glyphicons-halflings.png");
}
.affixed {
  position: fixed;
  top: 60px;
}

hr {
  width: 100%;
}

.workflow {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.sidebar-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color:#C03942;
  border-color:black;
  width: 290px;
}

li .btn-link {
  color: #000000;
  float: right;
  font-size: small;
  padding: 0;
}

.nav-list > li > a {
  float:left;
}

.nav-list > li > a {
  font-family:monospace;
  color:#84ADCC;
}

.nav-header {
  color:#542437;
  text-shadow: none;
  font-size:medium;
}


.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color:#53777A;
}

.navbar-inverse .nav > li > a {
  color:#0088CC;
  font-family: monospace;
}

.btn-link {
  padding:0;
  text-shadow:none;
}

.nav-icon {
  white-space: nowrap;
  float: right;
  color: black;
  padding-right: 8px;
}

.nav-anchor  {
  font-family: monospace;
  color:#00CCFF;;
  padding-left: 16px;
  overflow: scroll;
  display: block;
}

.nav-link .btn-link {
  padding: 0;
  font-size: small;
  color: black;
}

.nav-link:hover {
  /* background-color:#53777A; */
  background-color:#E6E1DC;
}

.nav-link.active {
  background-color:#53777A;
}
