<!DOCTYPE html>
<html ng-app='index' lang="en">
  <head>
    <meta charset="utf-8">
    <title>iocdb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/lib/bootstrap.css" rel="stylesheet">
    <link href="static/lib/bootstrap-responsive.css" rel="stylesheet">
    <link href='static/index.css' rel='stylesheet'>
    <style type="text/css">
      body {
        /*padding-top: 60px;*/
        padding-bottom: 40px;
        min-width:810px;
      }

      aside {
        overflow-y: auto;
        position: fixed;
        left: 0;
        top: 60px;
        bottom: 8px;
        padding: 5px;
        width: 300px;
      }

      aside > header { height: 50px; }

      .sidebar-nav {
        padding: 9px 0;
	width: 100%;
      }

      /*
      @media (max-width: 980px) {
        /* Enable use of floated navbar text * /
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }*/
      .result-table {
        text-align:left;
        width:100%;
        table-layout: fixed;
      }
    
      .result-table tr:nth-child(even) {
        background-color:rgba(224,224,224,.4);
      }
    
      .result-table td {
        word-wrap: break-word;
      }
    
      .result-table tr:hover {
        background-color: #E6E1DC;
        cursor: pointer;
      }

      .editchange {
        background-color: #78FA89 !important;
      }
      input.ng-invalid, select.ng-invalid, date.ng-invalid {
        background-color: #FA787E;
      }

      form .small { width: 100px; }
      .actionli {
        white-space: nowrap;
        overflow: hidden;
      }
      .actionul {
        width:252px;
      }
      .actionfield {
        width:236px;
        padding:0
      }
      .actionrow {
        border: solid 1px;
        padding-left: 2px;
        background: rgba(255,255,255,.2);
      }

      .accordion-heading .accordion-toggle {
          background: rgba(59, 59, 60, 1);
      }
      
      .accordion-group {
          border-color: rgba(56,60,72,255);
          border-style: groove;
          margin: 0;
          border-radius: 0;
      }
      .accordion-inner {
          padding: 0;
          /* margin: 0; */
      }
      .accordion-heading h4, h5 {
        color: rgba(239, 252, 255, 1);
        margin: 0;
      }
      
      form fieldset {
        margin-bottom: 0;
      }

    </style>

    <script 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js">
    </script>
    <script 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js">
    </script>
    <script src="static/lib/ui-bootstrap.min.js"></script>
    <script src='static/index.js'></script>

    <!-- TODO: lazy load -->
    <link rel="stylesheet" href="static/document.css" />
    <link rel="stylesheet" href="static/lib/codemirror.css">
    <link rel="stylesheet" href="static/lib/ambiance.css">
    <script src='static/lib/codemirror.js'></script>
    <script src='static/lib/runmode.js'></script>
    <script src='static/lib/ui-codemirror.js'></script>
    <script src='static/document.js'></script>
    <script src='static/rumor.js'></script>
    <script src='static/localdb.js'></script>
    <script src='static/search.js'></script>
  
  </head>

  <body ng-controller='IndexCtrl'>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!--
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <a class="brand" href="#">IOCDB GUI</a>
          <!--<div class="nav-collapse collapse">-->
          <div>
            <p class="navbar-text pull-right">
            Logged in as 
            <button type='button' class='btn btn-link' ng-click='open_login()'>
              {{user.id}}
            </button>
            </p>
            <ul class="nav">
              <li><a href="http://github.com/vz-risk/iocdb/wiki">wiki</a></li>
              <li><a href="http://github.com/vz-risk/iocdb/issues">issues</a></li>
              <li>
              <a href='javascript:w=undefined;window.addEventListener("message", function(event) { console.log("message received: "+event); if (event.origin !== "http://localhost:8000") return; w.postMessage({name:window.location.href, text:window.document.body.innerText}, "*");}); w=window.open("http://localhost:8000","iocdb");console.log("window open:"+w);'>extract</a>
              <!--
              <a href="javascript:var t=encodeURIComponent(document.body.innerText);location.href='http://localhost:8001/#/document/new?text='+t;">extract</a>
              -->
              <!--<a href="javascript:var t=((window.getSelection&&window.getSelection())||(document.getSelection&&document.getSelection())||(document.selection&&document.selection.createRange&&document.selection.createRange().text));var e=(document.charset||document.characterSet);if(t!=''){location.href='http://localhost:8001/#/document/new?text='+t+'&ie='+e;}else{location.href='http://localhost:8001/#/document/new?u='+encodeURIComponent(location.href)+'&ie='+e;};">extract</a>
              -->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <!--<div class='affixed'>-->
          <aside>
            <div class="well sidebar-nav">
              <div class='row-fluid'>
                <div class='span11 nav-header'>Document</div>
                <div class='span1'>
                  <a class='nav-icon' href='/#/document/new'>
                    <span class='icon-file'></span>new
                  </a>
                </div>
              </div>
              <div class='row-fluid nav-link' 
                ng-repeat='document in documents'
                ng-class='{active: document_index == $index}'>
                <div class='span11'>
                  <div style='margin-right:60px; overflow:hidden'>
                  <a class='nav-anchor' href='/#/document/{{$index}}'>
                    {{document.doc.name || "< no name >"}}
                  </a>
                  </div>
                </div>
                <div class='span1'>
                  <div class='nav-icon'>
                    <button type='button' class='btn btn-link'
                      ng-click='rem_document($index)'>
                      <span class="icon-remove"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span11 nav-header'>Search</div>
                <div class='span1'>
                  <a href='/#/searches/new' class='nav-icon'>
                    <span class="icon-search"></span>
                  </a>
                </div>
              </div>
              <div class='row-fluid nav-link' 
                ng-repeat='search in searches'
                ng-class='{active: search_index == $index}'>
                <div class='span11'>
                  <a href="/#/search/{{$index}}" class='nav-anchor'>
                    {{search.model}} {{search.query}}
                  </a>
                </div>
                <div class='span1'>
                  <div class='nav-icon'>
                    <button type='button' class='btn btn-link'
                      ng-click='rem_search($index)'>
                    <span class="icon-remove"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div><!--/.well -->
            <div ng-include='sidebar.url'></div>
          </aside>
        </div><!--/span-->
        <div class="span9" style='position:absolute; left:300px'>
          <div ng-view></div>
          <hr>
          <footer>
            <p>---</p>
          </footer>
        </div>
      </div><!--/row-fluid-->
    </div><!--/.fluid-container-->

    <script type='text/ng-template' id='login.html'>
      <div class='modal-header'>
        <h2>User:</h2>
      </div>
      <div class='modal-body'>
        <label for='user_id'>ID:</label>
        <input id='user_id' type='text' ng-model='user.id'>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-primary' ng-click='save()'>save</button>
        <button class='btn btn-warning' ng-click='cancel()'>
          cancel
        </button>
      </div>
    </script>

    <script type='text/ng-template' id='remove_doc.html'>
      <div class='modal-body'>
        There may be unsaved changes to the document. TODO: check if 
        there are unsaved changes to the document. Are you sure?
      </div>
      <div class='modal-footer'>
        <button class='btn btn-primary' ng-click='$close()'>ok</button>
        <button class='btn btn-warning' ng-click='$dismiss("cancel")'>
          cancel
        </button>
      </div>
    </script>
      
    <script type='text/ng-template' id='helloworld.html'>
      <div ng-controller='SplashCtrl'></div>
    </script>

    
    <script type='text/ng-template' id='upload-doc.html'>
      <div class='modal-body'>
        You are about to upload document with name {{document.doc.name}}
        to the master database.
        <hr/>
        <input type='checkbox' ng-model='close_document_on_success'></input>
        <label for='close-doc'>close document on success</label>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-primary'
        ng-click='$close(close_document_on_success)'>
          ok
        </button>
        <button class='btn btn-warning' ng-click='$dismiss("cancel")'>
          cancel
        </button>
      </div>
    </script>

    <script type='text/ng-template' id='table.html'>
      <!-- "dashboard" for displaying multiple rows of data -->
      <table class='result-table' ng-controller='Table'>
        <tbody>
          <tr>
            <th style='width:20px' ng-hide='selected.hide'>
              <input type='checkbox' ng-model='selected_all'></input></th>
            <th ng-repeat='column in columns'>{{column}}</th>
          </tr>
          <tr ng-repeat='(key, row) in keyedRows'>
            <th ng-hide='selected.hide'>
              <input type='checkbox' ng-model='row.selected'></input>
            </th>
	    <td ng-repeat='column in columns' ng-click='row.selected=!row.selected'>
	     {{row[column] || default[column]}}
	    </td>
          </tr>
          <tr ng-repeat='row in rows'>
            <th ng-hide='selected.hide'>
              <input type='checkbox' ng-model='row.selected'></input>
            </th>
	    <td ng-repeat='column in columns' ng-click='row.selected=!row.selected'>
	     {{row[column] || default[column]}}
	    </td>
          </tr>
        </tbody>
      </table>
    </script>

<script type='text/ng-template' id='observable-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='observable_variety'>variety:</label></th>
        <td>
          <select id='observable_variety' ng-model='input.observable.variety' 
          ng-class='{editchange:input.observable.variety}'
	  ng-required='input.observable.value'
	  ng-options='v for v in Observable.variety'>
	    <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='observable_value'>value:</label></th>
        <td>
          <input id='observable_value' ng-model='input.observable.value' 
	  ng-required='input.observable.variety'
          ng-class='{editchange:input.observable.value}'/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='left-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='left_variety'>variety:</label></th>
        <td>
          <select id='left_variety' ng-model='input.left.variety' 
          ng-class='{editchange:input.left.variety}'
	  ng-options='v for v in Observable.variety'>
	    <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='left_value'>value:</label></th>
        <td>
          <input id='left_value' ng-model='input.left.value' 
          ng-class='{editchange:input.left.value}'/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='right-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='right_variety'>variety:</label></th>
        <td>
          <select id='right_variety' ng-model='input.left.variety' 
          ng-class='{editchange:input.right.variety}'
	  ng-options='v for v in Observable.variety'>
	    <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='right_value'>value:</label></th>
        <td>
          <input id='right_value' ng-model='input.left.value' 
          ng-class='{editchange:input.right.value}'/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='actor-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='actor_name'>name:</label></th>
        <td>
          <input id='actor_name' ng-model='input.actor.name' 
          ng-class='{editchange:input.actor.name}'/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='campaign-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='campaign_name'>name:</label></th>
        <td>
          <input id='campaign_name' ng-model='input.campaign.name' 
          ng-class='{editchange:input.campaign.name}'/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='ttp-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='ttp_category'>category:</label></th>
        <td>
          <select id='ttp_category' ng-model='input.ttp.category' 
          ng-options='label for label in TTP.category'
          ng-class='{editchange:input.ttp.category}' />
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='ttp_malware'>malware:</label></th>
        <td>
          <input id='ttp_malware' ng-model='input.ttp.malware' 
          ng-class='{editchange:input.ttp.malware}'/>
        </td>
      </tr>
      <tr>
        <th><label for='ttp_actions'>actions:</label></th>
        <td>
          <button type='button' class='btn btn-link'
            ng-click='expand_ttp_actions=!expand_ttp_actions'>
            <span class="icon-edit"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan='2' ng-show='expand_ttp_actions'>
          <fieldset class='row actionfield inner'>
            <div class='span5'>
              <label for='ttp_action_type'>action:</label>
              <select ng-model='action.type' class='small'
                ng-options='tname as tname for (tname, ActionType) in TTP.actions'
                id='ttp_action_type'>
              </select>
            </div>
            <div ng-repeat='(tname, ActionType) in TTP.actions' class='span5'
            ng-show='tname==action.type'>
              <div ng-repeat='(member, ActionMember) in ActionType'>
                <label for='{{tname}}-{{member}}'>
                  {{member}}:
                </label><br/>
                <select id='{{tname}}-{{member}}' class='small'
                ng-model='action[member]'
                ng-options='value for value in ActionMember'>
                  <option value=undefined></option>
                </select>
              </div>	       
	    </div>
            <div class='span1'>
              <button type='button' class='btn btn-link'
                ng-click='add_action()'>
                <span class="icon-plus" ng-show='action.type'>
                </span>
              </button>
            </div>
          </fieldset>
          <hr/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class='actionul' 
            <div class='row-fluid actionrow'
            ng-repeat='action in input.ttp.actions'>
            <div class='span11 actionli'>{{action}}</div>
              <div lcass='span1'>
                <button type='button' class='btn btn-link'
                  ng-click='rem_action($index)'>
                  <span class="icon-minus"></span>
                </button>
              </div>
            </div>
          </div>
          <hr/>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='rumor-input.html'>
  <fieldset class='inner'>
    <legend>valid date, time (UTC):</legend>
    <input id='valid_date' type='date' ng-required='input.rumor.valid_time'
    ng-model='input.rumor.valid_date'
    ng-class='{editchange:input.rumor.valid_date}'/>
    <input id='valid_time' class='time'
    ng-model='input.rumor.valid_time' placeholder='00:00:00'
    ng-class='{editchange:input.rumor.valid_time}'/>
  </fieldset>
  <table>
    <tbody>
      <tr>
        <th>
          <label for='description'>description:</label>
        </th>
        <td>
          <input id='description' ng-model='input.rumor.description'
          ng-disabled='expand_description'
          ng-class='{editchange:input.rumor.description}'/>
          <button type='button' class='btn btn-link'
          ng-click='expand_description=!expand_description'>
            <span class="icon-edit"></span>
          </button>
        </td>
      </tr>
      <tr >
        <td ng-show='expand_description' colspan='2'>
          <textarea rows='10' cols='25' ng-model='input.rumor.description'
            ng-class='{editchange:input.rumor.description}'>
          </textarea>
        </td>
      </tr>
    </tbody>
  </table>
</script>

<script type='text/ng-template' id='document-input.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='name'>name:</label></th>
        <td>
          <input id='name' ng-model='input.document.name' 
	  ng-class='{editchange:input.document.name}'/>
        </td>
      </tr>
      <tr>
        <th><label for='doc-category'>category:</label></th>
        <td>
          <select id='doc-category' ng-model='input.document.category' 
	    ng-class='{editchange:input.document.category}'
            ng-options='source for source in Document.category'>
            <option></option>
          </select>
        </td>
      </tr>
      <tr ng-show='input.document.category'>
        <th><label for='doc-source'>source:</label></th>
        <td>
          <input id='doc-source' ng-model='input.document.source' 
          ng-class='{editchange:input.document.source}'/>
        </td>
      </tr>
      <tr>
        <th><label for='tlp'>tlp:</label></th>
        <td>
          <select id='tlp' ng-model='input.document.tlp' 
	    ng-class='{editchange:input.document.tlp}'
            ng-options='color for color in Document.tlp'>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='noforn'>noforn:</label></th>
        <td>
          <input id='noforn' ng-model='input.document.noforn' type='checkbox'/>
          <label for='nocomm'>nocomm:</label>
          <input id='nocomm' ng-model='input.document.nocomm' type='checkbox'/>
        </td>
      </tr>
    </tbody>
  </table>
  <!--
  <label for='doc-posted-date'>document posted:</label>
    <input id='doc-posted-date'
    ng-model='input.document.posted_date' type='date' disabled/>
    <input class='time' ng-model='input.document.posted_time' disabled
    placeholder='00:00:00'/>
  </label>
  -->
</script>

<!-- TODO: combine this with document-input.html -->
<script type='text/ng-template' id='document-input-req.html'>
  <table>
    <tbody>
      <tr>
        <th><label for='name'>name:</label></th>
        <td>
          <input id='name' ng-model='input.document.name' required
	  ng-class='{}'/>
        </td>
      </tr>
      <tr>
        <th><label for='doc-category'>category:</label></th>
        <td>
          <select id='doc-category' ng-model='input.document.category' required 
	    ng-class='{}'
            ng-options='source for source in Document.category'>
            <option></option>
          </select>
        </td>
      </tr>
      <tr ng-show='input.document.category'>
        <th><label for='doc-source'>source:</label></th>
        <td>
          <input id='doc-source' ng-model='input.document.source' required
          ng-class='{}'/>
        </td>
      </tr>
      <tr>
        <th><label for='tlp'>tlp:</label></th>
        <td>
          <select id='tlp' ng-model='input.document.tlp' 
	    ng-class='{}'
            ng-options='color for color in Document.tlp'>
            <option value=''></option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for='noforn'>noforn:</label></th>
        <td>
          <input id='noforn' ng-model='input.document.noforn' type='checkbox'/>
          <label for='nocomm'>nocomm:</label>
          <input id='nocomm' ng-model='input.document.nocomm' type='checkbox'/>
        </td>
      </tr>
    </tbody>
  </table>
  <!--
  <label for='doc-posted-date'>document posted:</label>
    <input id='doc-posted-date'
    ng-model='input.document.posted_date' type='date' disabled/>
    <input class='time' ng-model='input.document.posted_time' disabled
    placeholder='00:00:00'/>
  </label>
  -->
</script>
