<style type='text/css'>
</style>

<div ng-include='view_template'></div>

<script type='text/ng-template' id='search_new.html'>
  <form>
    <fieldset class='pull-left workflow'>
      <legend>Choose a type of search:</legend>
      <input type='radio' ng-model='search_type_template' 
      value='search_rumor.html' id='search_type_rumor'>
      <label for='search_type_rumor'>rumors:</label><br/>
      <input type='radio' ng-model='search_type_template' 
       value='search_association.html' id='search_type_association'>
      <label for='search_type_association'>associations:</label><br/>
      <input type='radio' ng-model='search_type_template' 
      value='documents' disabled id='search_type_document'>
      <label for='search_type_document'>documents:</label><br/>
      <input type='radio' ng-model='search_type_template' value='ttps' disabled
       id='search_type_ttp'>
      <label for='search_type_ttp'>ttps:</label><br/>
      <input type='radio' ng-model='search_type_template' 
      value='actors' disabled id='search_type_actor'>
      <label for='search_type_actor'>actors:</label><br/>
      <input type='radio' ng-model='search_type_template' 
      value='campaigns' disabled id='search_type_campaign'>
      <label for='search_type_campaign'>campaigns:</label><br/>
      <input type='radio' ng-model='search_type_template' 
      value='observables' disabled id='search_type_observable'>
      <label for='search_type_observable'>observables:</label><br/>
    </fieldset>
    <div ng-include='search_type_template' class='pull-left'>
    </div>
    <div ng-include='search_expand_template'>
    </div>
  </form>
</script>

<script type='text/ng-template' id='search_rumor.html'>
  <!-- ? -->
  <fieldset class='workflow' style='
    top: -7px;
    margin-bottom: 8px;
    position: relative;
  '>
    <legend>Rumor search:</legend>
    <fieldset class='inner'>
      <legend>date, time (UTC):</legend>
      <table>
        <tbody>
          <tr>
            <th>
              <label for='search_rumor_valid_start_date'>valid starting:</label>
            </th>
            <td>
              <input id='search_rumor_valid_start_date' type='date' 
              ng-model='query.valid_start_date'/>
              <input id='search_rumor_valid_start_time' class='time' 
              ng-model='query.valid_start_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_rumor_valid_end_date'>valid ending:</label>
            </th>
            <td>
            <input id='search_rumor_valid_end_date' type='date' 
            ng-model='query.valid_end_date'/>
            <input id='search_rumor_valid_end_time' class='time' 
            ng-model='query.valid_end_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_rumor_received_start_date'>received starting:</label>
            </th>
            <td>
            <input id='search_rumor_received_start_date' type='date' 
            ng-model='query.received_start_date'/>
            <input id='search_rumor_received_start_time' class='time' 
            ng-model='query.received_start_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_rumor_received_end_date'>received ending:</label>
            </th>
            <td>
            <input id='search_rumor_received_end_date' type='date' 
            ng-model='query.received_end_date'/>
            <input id='search_rumor_received_end_time' class='time' 
            ng-model='query.received_end_time'/><br/>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <table>
      <tbody>
        <tr ng-repeat='(label, field) in rumor_input_fields'>
          <th>
            <label for='search_rumor_{{field}}'>{{label}}</label>
          </th>
          <td>
            <input id='search_rumor_{{field}}' ng-model='query[field]'/>
            <!-- 
            <button class='btn btn-link' ng-click='clear("{{field}}")'>
              <span class='icon-remove'></span>
            </button>
            -->
          </td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <button type='button' class='btn pull-right'
      ng-click='get("rumor", query)'>
      search<span class='icon-search'></span>
    </button>
  </fieldset>
</script>

<script type='text/ng-template' id='search_association.html'>
  <fieldset class='workflow'>
    <legend>Rumor search:</legend>
    <fieldset class='inner'>
      <legend>date, time (UTC):</legend>
      <table>
        <tbody>
          <tr>
            <th>
              <label for='search_association_valid_start_date'>valid starting:</label>
            </th>
            <td>
              <input id='search_association_valid_start_date' type='date' 
              ng-model='query.valid_start_date'/>
              <input id='search_association_valid_start_time' class='time' 
              ng-model='query.valid_start_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_association_valid_end_date'>valid ending:</label>
            </th>
            <td>
            <input id='search_association_valid_end_date' type='date' 
            ng-model='query.valid_end_date'/>
            <input id='search_association_valid_end_time' class='time' 
            ng-model='query.valid_end_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_association_received_start_date'>received starting:</label>
            </th>
            <td>
            <input id='search_association_received_start_date' type='date' 
            ng-model='query.received_start_date'/>
            <input id='search_association_received_start_time' class='time' 
            ng-model='query.received_start_time'/><br/>
            </td>
          <tr>
            <th>
              <label for='search_association_received_end_date'>received ending:</label>
            </th>
            <td>
            <input id='search_association_received_end_date' type='date' 
            ng-model='query.received_end_date'/>
            <input id='search_association_received_end_time' class='time' 
            ng-model='query.received_end_time'/><br/>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <table>
      <tbody>
        <tr>
          <th>
            <label for='search_association_observable_varieties'>
              observable.varieties
            </label>
          </th>
          <td>
            <input id='search_association_observable_varieties' 
            ng-model='query.observable_varieties'></input>
              <!--<span class='icon-plus'>-->
          </td>
        </tr>
        <tr>
          <th>
            <label for='search_association_observable_values'>
              observable.values
            </label>
          </th>
          <td>
            <input id='search_association_observable_values' 
            ng-model='query.observable_values'></input>
              <!--<span class='icon-plus'>-->
          </td>
        </tr>
        <tr>
          <th>
            <label for='search_association_document_sources'>
              document.sources
            </label>
          </th>
          <td>
            <input id='search_association_document_sources' 
            ng-model='query.document_sources'></input>
              <!--<span class='icon-plus'>-->
          </td>
        </tr>
        <tr>
          <th>
            <label for='search_association_document_names'>
              document.names
            </label>
          </th>
          <td>
            <input id='search_association_document_names' 
            ng-model='query.document_identities'></input>
              <!--<span class='icon-plus'>-->
          </td>
        </tr>
        <tr>
          <th>
            <label for='search_association_document_investigators'>
              document.investigators
            </label>
          </th>
          <td>
            <input id='search_association_document_investigators' 
            ng-model='query.document_investigators'></input>
              <!--<span class='icon-plus'>-->
          </td>
        </tr>
        <tr>
          <th>
            <label for='search_association_limit'>
              limit (TODO: implement paging):
            </label>
          </th>
          <td>
            <input id='search_association_limit'
            ng-model='query.limit'></input>
          </td>
        </tr>
      </tbody>
    </table>
    <hr/>
    <button type='button' class='btn pull-right'
      ng-click='get("association", query)'>
      search<span class='icon-search'></span>
    </button>
  </fieldset>
</script>

<script type='text/ng-template' id='search-aside.html'>
  <form name='search_form' ng-controller='SearchAside'>
    <accordion close-others='true'>
      <accordion-group><accordion-heading>
        <button type='button' class='btn pull-right'
        ng-disabled='!sidebar.selected.count'
        ng-click='sidebar.apply(input); clear_input();'>
          apply <span class="icon-upload"></span>
        </button>
        <button type='button' class='btn pull-right' ng-click='cancel()'
        ng-disabled='!sidebar.selected.count'>
          cancel
        </button>
      </accordion-heading></accordion-group>
      <accordion-group is-open="true">
        <accordion-heading><h4>{{search.model}}</h4></accordion-heading>
        <fieldset ng-include src='search.model+"-input.html"'></fieldset>
      </accordion-group>
      <accordion-group>
        <accordion-heading><h4>Document</h4></accordion-heading>
        <fieldset ng-include src='"document-input.html"'></fieldset>
      </accordion-group>
      <accordion-group>
        <accordion-heading ng-show='search.model=="rumor"'><h4>Observable</h4></accordion-heading>
        <fieldset ng-include src='"observable-input.html"'></fieldset>
      </accordion-group>
<!--
      <accordion-group>
        <accordion-heading><h4>Left observable</h4></accordion-heading>
        <fieldset ng-include src='"left-input.html"'></fieldset>
      </accordion-group>
      <accordion-group>
        <accordion-heading ng-show='search.model=="association"'><h4>Right observable</h4></accordion-heading>
        <fieldset ng-include src='"right-input.html"'></fieldset>
      </accordion-group>
-->
      <accordion-group>
        <accordion-heading ng-show='search.model=="rumor"'><h4>TTP</h4></accordion-heading>
        <fieldset ng-include src='"ttp-input.html"'></fieldset>
      </accordion-group>
      <accordion-group>
        <accordion-heading ng-show='search.model=="rumor"'><h4>Actor</h4></accordion-heading>
        <fieldset ng-include src='"actor-input.html"'></fieldset>
      </accordion-group>
      <accordion-group>
        <accordion-heading ng-show='search.model=="rumor"'><h4>Campaign</h4></accordion-heading>
        <fieldset ng-include src='"campaign-input.html"'></fieldset>
      </accordion-group>
    </accordion>
  </form>
</script>

<script type='text/ng-template' id='search-page.html'>
  <div>
    <h3>{{search.model}} query:{{search.query}}</h3>
    <li>query time: {{search.results.query_time}} </li>
    <vz-table rows='search.results[search.model+"s"]'
    selected='selected'/>
  </div>
</script>

<script type='text/ng-template' id='search_delete.html'>
  <div class='modal-body'>
    There may be unsaved changes to the search. TODO: check if 
    there are unsaved changes to the search. Are you sure?
  </div>
  <div class='modal-footer'>
    <button class='btn btn-primary' ng-click='$close()'>ok</button>
    <button class='btn btn-warning' ng-click='$dismiss("cancel")'>
      cancel
    </button>
  </div>
</script>

<script type='text/ng-template' id='search-loading.html'>
  <div class='modal-body'>
    loading ...
  </div>
</script>
